# Direnv & Devenv
.direnv
.envrc.local
.devenv
.devenv.flake.nix

# should be Terranix .nix files instead
*.tf
*.tfvars
*.tfstate*
.terraform*

# Outputs
config.tf.json
nixos-template

# Possibly sensitive for public repo
lib/ips.nix
lib/constants.nix
